<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark py-5">
  <div class="container-fluid">
    <a class="navbar-brand mx-0" href="#">LOGO</a>

    <div class="px-5">
        <h6 class="align-top text-success">Informations</h6>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit Maecenas varius tristique feugiat Maecenas varius tristique feugiat.Maecenas varius tristique feugiat Nullam eu imperdiet turpisconsectetur adipiscing elit Maecenas varius tristique feugiat Nullam eu imperdiet turpisconsectetur adipiscing elit Maecenas varius tristique feugiat. Nullam eu imperdiet turpisconsectetur adipiscing elit Maecenas varius tristique feugiat Nullam eu imperdiet turpisconsectetur adipiscing elit Maecenas varius tristique feugiat Nullam eu imperdiet turpisconsectetur adipiscing elit Maecenas varius tristique feugiat Nullam eu imperdiet turpis.</p>
        <span class="pt-5 pl-5"><a class="text-light" href="{{ path('legal_notice') }}">Mentions légales</a></span>
    </div>


    <div>
        <ul class="navbar-nav">
            <li><a href="{{ path('contact') }}"><i class="fas fa-envelope-square fa-4x px-2"></i></li>
            <li><a href="#"><i class="fab fa-twitter-square fa-4x px-2"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-square fa-4x px-2"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram-square fa-4x px-2"></i></a></li>
        </ul>
    </div>

  </div>
</nav>