{% extends 'base.html.twig' %}

{% block title %}Classement - La Tour Galamadriabuyak {% endblock %}

{% block body %}

    <h1 class="text-center mt-5">Classement</h1>

   <table class="table table-bordered mt-5 mb-5">
        <thead class="thead-light">
            <tr>
                <th class="text-center">Place</th>
                <th class="text-center">Pseudo</th>
                <th class="text-center">Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">N°1</td>
                <td class="text-center ">Pseudo</td>
                <td class="text-center">Nombre de points</td>
            </tr>

            <tr>
                <td class="text-center">N°2</td>
                <td class="text-center ">Pseudo</td>
                <td class="text-center">Nombre de points</td>
            </tr>

            <tr>
                <td class="text-center">N°3</td>
                <td class="text-center ">Pseudo</td>
                <td class="text-center">Nombre de points</td>
            </tr>

        </tbody>
    </table>

{% endblock %}
