{% extends 'base.html.twig' %}

{% block title %}Classement - La Tour Galamadriabuyak {% endblock %}

{% block body %}

    <h1 class="text-center mt-5">Classement</h1>

    <div>
        Tableau des scores
    </div>


{% endblock %}
