{% extends 'base.html.twig' %}

{% block title %}Notre Equipe - La Tour Galamadriabuyak{% endblock %}

{% block body %}

    <h1 class="text-center mt-5 mb-5">Notre équipe</h1>
    <div class="mb-5">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum dolorem rerum sunt et explicabo animi debitis autem inventore voluptate eos facilis quod numquam pariatur, voluptatum magnam! Corrupti fugit nostrum enim!</p>

        <p>Voluptatum odio rerum libero veniam maiores in reprehenderit quam, quis aspernatur eum suscipit ut commodi laudantium placeat blanditiis deleniti veritatis ea aliquam quod minus tempora. Ratione totam nobis quisquam quia.</p>

        <p>Totam ut magnam labore culpa! Obcaecati ratione eum magni aliquam perferendis officia modi. Iure sunt, laborum aliquid vel repellat facilis voluptatem sapiente dicta vero quod esse similique, odit, quidem consectetur!</p>

        <p>Earum repellat tenetur architecto et asperiores reprehenderit iste adipisci. Accusamus, tenetur voluptatum quidem inventore rerum error et sint iure. Facilis laboriosam corrupti a commodi? Eum impedit obcaecati blanditiis repudiandae corrupti.</p>
    </div>

{% endblock %}
