{% extends 'base.html.twig' %}

{% block title %}Accueil - La Tour Galamadriabuyak{% endblock %}

{% block body %}

    <div class="container hom">
        <div class="row d-flex justify-content-center">

                <h1 class="col-12 text-center">La Tour Galamadriabuyak</h1>          
            {% if app.user %}              
                <h5 class="col-12 text-center">Cliquez pour jouer<h5>               
                <div class="col-12 text-center">
                    <a class="btn btn-outline-success text-light bg-secondary btn-lg" href="{{ path('gameselection') }}" >Jouer</a>
                </div>  
            {% else %}
            <div>
                <h5 class="col-12 text-center">Pour jouer connectez-vous<h5>
                <div class="col-12 text-center">
                    <a href="#" class=" btn btn-outline-success lift text-light bg-secondary btn-lg disabled">Jouer</a>
                </div>  
            </div>
            {% endif %}
        </div>
    </div>  

{% endblock %}
