{% extends 'base.html.twig' %}

{% block title %}Accueil - La Tour Galamadriabuyak{% endblock %}

{% block body %}
    <div class="">
        <h1 class="text-center">Titre du jeu</h1>
        {%if app.user%}
            <h5 class="text-center">Cliqué pour jouer<h5>
            <div class="row justify-content-center">
                <a  
                href="{{ path('app_logout') }}"
                class=" btn btn btn-outline-success lift text-light bg-secondary btn-lg"> 
                    Jouer
                </a>
            </div>  
        {% else %}
            <h5 class="text-center">Pour jouer connecter vous<h5>
            <div class="row justify-content-center">
                <a  
                href="{{ path('app_logout') }}"
                class=" btn btn btn-outline-success lift text-light bg-secondary btn-lg disabled"> 
                    Jouer
                </a>
            </div>  
        {% endif %}
    </div>
    

{% endblock %}
