{% extends 'base.html.twig' %}

{% block title %}Accueil - La Tour Galamadriabuyak{% endblock %}

{% block body %}

    <div class="">
        <h1 class="text-center">Titre du jeu</h1>
        {%if app.user%}
            <h5 class="text-center">Cliquez pour jouer<h5>
            <div class="row justify-content-center">
                <a  
                href="{{ path('gameselection') }}"
                class=" btn btn-outline-success lift text-light bg-secondary btn-lg"> 
                    Jouer
                </a>
            </div>  
        {% else %}
            <h5 class="text-center">Pour jouer connectez-vous<h5>
            <div class="row justify-content-center">
                <a  
                href="#"
                class=" btn btn-outline-success lift text-light bg-secondary btn-lg disabled"> 
                    Jouer
                </a>
            </div>  
        {% endif %}
    </div>  

{% endblock %}
