{% extends 'base.html.twig' %}

{% block title %}Règles du jeu - La Tour Galamadriabuyak{% endblock %}

{% block body %}

    <h1 class="text-center mt-5 mb-5">Règles du jeu</h1>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, odio! Ea soluta dolores error ipsam at a. Eos ipsa, consequuntur magnam fugiat cupiditate tempora inventore ipsam architecto fugit explicabo vel!</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, odio! Ea soluta dolores error ipsam at a. Eos ipsa, consequuntur magnam fugiat cupiditate tempora inventore ipsam architecto fugit explicabo vel!</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, odio! Ea soluta dolores error ipsam at a. Eos ipsa, consequuntur magnam fugiat cupiditate tempora inventore ipsam architecto fugit explicabo vel!</p>

{% endblock %}
